[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "predictsr"]
	path = predictsr
	url = https://github.com/biodiversity-futures-lab/predictsr
